<h1 class="center">Liste de Pokemons</h1>
<!--<p (click) = "selectPokemon(pokemon)" *ngFor="let pokemon of pokemonList">Le nom du pokemon est {{pokemon.name}}</p>-->
<!--<input
    #input
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
    
/>
<p *ngIf="pokemonSelected">
    Vous avez sélectionner le Pokemon : {{pokemonSelected.name}}
</p>

<p *ngIf="!pokemonSelected">
    Oups l'indice sélectionné ne correspond à aucun Pokemon
</p>
-->


<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal">
                <div class="card-image">
                    <img [src]="pokemon.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p><small>{{pokemon.created}}</small></p>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>
